<div class="container" id="login">
  <div class="container border border-danger" id="border-login">
    <div class="text-center">

      <h2 class="text-center">Login</h2>

      <form action="/auth/login" method="POST" id="form-container">
        {{!-- <label for="username">Username</label> --}}
        <input id="username" type="text" name="username" placeholder="Username">

        <br><br>

        {{!-- <label for="password">Password</label> --}}
        <input id="password" type="password" name="password" placeholder="Your password">
        <br>
        <br>

        {{#if message }}
        <div class="error-message  btn btn-danger">{{ message }}</div>
        {{/if}}

        <br>
        <br>

        <button type="submit" class="btn btn-danger" id="loginBtn">Login</button>
    </div>

    <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup" class="btn btn-danger">Signup</a>
    </p>
    </form>
    ​
    <div class="column">
      <img src="/images/slack_mark.png" alt="" width="40" height="40" />
      <a href="/auth/slack" class="col md-1">Login With Slack</a>

      <img src="/images/GitHub-Mark.png" alt="" width="40" height="40">
      <a href="/auth/github">Login With Github</a>
    </div>