<a href="/auth/logout">logout</a>

<h1>Welcome {{user.username}} !! 
  Create a new Board!</h1>


<h2><input type="text" name="board-name" aria-placeholder="Board name">Board name</h2>

<h2><input type="text" name="board-description" aria-placeholder="Add a board description">Add a board description</h2>


<button type="button" class="btn btn-primary">New Group Task</button>

<form action="/dashboard" method="GET">
  <input type="text" name="search">
  <button type="submit" class="btn btn-danger" aria-placeholder="Search"></button>
</form> 

<form action="/dashboard/" method="POST">
  <input placeholder="Add task" name="Add Task"></input>
  <input placeholder="to do" name="toDo"></input>
  <button>&times;</button>
</form>


<ol>
  {{#each board}}
  <li>{{this.name}}</li>
  {{/each}}
</ol>