{{#unless user}}
<h1>not working</h1>

{{else}}
<h1>{{user.username}} create your dashboard! </h1>
<a href="/auth/logout">logout</a>

<button class="createItem" onclick="createNewItem()">New item</button>

<script>
function createNewItem() {
    let createProduct = document.createElement('div');
  createProduct.innerHTML = 
    `
  <form action="/dashboard/" method="post">

  <input placeholder="Add task name"></input>
</form> 
 `

 ;

    document.body.appendChild(createProduct);
}

  window.onload = function () {
    var createItemButton = document.getElementById('createItem');
  }
</script>

{{/unless}}