<h1>Settings</h1>
{{#with user}}
<h4>Account name: {{username}}</h3>
<h4>Account url:</h4>
<div class="alert alert-info" role="alert"><h4>Email Integration: Only for Premium members. Recommend you to upgrade to Premium</h4></div>
{{/with}}


<button><a href="/dashboard">Go back to Homepage</a></button>